.contact-heading-animation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.contact-body{
    display: flex;
    flex-direction: column ;
    /* justify-content: center; */
    align-items: flex-start;
    gap:40px;
    /* border: 1px solid red; */
}

.contact-me-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 150px);
    /* border: 1px solid red; */
}

.icon-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}


.bn632-hover {
    width: 120px;
    font-size: 16px;
    /* font-weight: 600; */
    color: #fff;
    cursor: pointer;
    margin: 10px;
    height: 45px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 30px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn25 {
    background-image: linear-gradient(
      to right,
      #29323c,
      #485563,
      #2b5876,
      #4e4376
    );
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  }